root.txt
login-page.png
.vscode
CardReader/py_modules/__pycache__/NFCRead_dummy.cpython-38.pyc
CardReader/py_modules/__pycache__/NFCRead_dummy.cpython-38.pyc
b.mp3
package-lock.json
Team7_システムの導入.md
Team7_データベースについて.md
test
提出用