<%#
  Team7 client ejs - _dashboard_s (for student) | Update: 2021/07/10
%>

<link rel="stylesheet" href="/public/css/_dashboard.css"">
<div id="dashboard">
  <p id="dashboard_title">学生用<span>UID: <%- user_id %></span></p>
  <div id="dashboard_menu">
    <a href="?p=home"><p class="<%- dashboard_menu_class[0] %>"><i class="fas fa-table"></i>マイページ</p></a>
    <a href="?p=setting"><p class="<%- dashboard_menu_class[5] %>"><i class="fas fa-user-cog"></i>個人設定</p></a>
  </div>
</div>
