<div id="top_bar">
  <div id="top_wrap">
    <div id="top_bar_logo">
      <a href="/">
        <p>Team<span>7</span></p>
        <!-- <img src="/public/img/team7.svg" alt=""> -->
      </a>
    </div>
    <div id="top_bar_wrap">
      <a id="top_bar_link" href=" <%- top_bar_link%> ">
        <%- top_bar_text %>
      </a>
    </div>
  </div>
</div>