<%#
    Team7 client ejs - api | Update: 2021/05/24
%>

<%- include( './_header.ejs' ); %>
<head>
    <title><%- title %></title>
</head>
<body>
    This is the endpoint of the Team7 API.
</body>
</html>
