<%#
    Team7 client ejs - error | Update: 2021/05/25
%>

<%- include( './_header.ejs' ); %>
<head>
    <title><%- title%></title>
</head>
<body>
    <dir>
        <h1>Error</h1>
        <p>There is a problem with the server.</p>
    </dir>
</body>
</html>
