<%#
    Team7 client ejs - login | Update: 2021/05/24
%>

<%- include( './_header.ejs' ); %>
<head>
    <link rel="stylesheet" href="/public/css/style_home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <title><%- title %></title>
</head>
<body>
    <div id="top_bar">
        <dir id="top_bar_wrap">
            <a id="top_bar_link" href="main/logout">
                <i class="fas fa-sign-in-alt"></i>
                Sign out
            </a>
        </dir>
    </div>
    <div id="wrap">
    <div id="dashboard">
        <p>管理用</p>
        <a class="dash_li" href="">マイページ</a><br>
        <a class="dash_li" href="">コース</a><br>
        <a class="dash_li" href="">編集</a><br>
        <a class="dash_li" href="">統計</a><br>
    </div>
    <div id="main">
        <div id="lecture_table">
            <h3>講義一覧 (UID: <%- user_id %>)</h3>
            <table id="lecture_table_val">
                <tr>
                    <th>科目名 - ID</th> <th>曜日・時限</th> <th>担当</th> <th>出席率</th>
                </tr>
                <%- lecture_table %>
            </table>
        </div>
        </div>
    </div>
</body>
</html>
