<head>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <title><%- title %></title>
</head>
<body>
    <div id="top_bar">
        <dir id="top_bar_wrap">
            <a id="top_bar_link" href="./login">
                <i class="fas fa-sign-in-alt"></i>
                Sign in
            </a>
        </dir>
    </div>
    <div id="index_top">
        <h1>Team7</h1>
        <p>Attendance Management System</p>
    </div>
    <div id="bottom">
        <h3>Download Packages</h3>
        <div>For Card Reader</div>
        <div>For Server</div>
        <div>For Client</div>
    </div>
</body>
</html>
