<%#
    Team7 client ejs - login | Update: 2021/05/24
%>
<%- include( './_header.ejs' ); %>
<head>
    <link rel="stylesheet" href="public/css/style.css">
    <title><%- title %></title>
</head>
<body>
    <div id="index_top">
        <h1>Team7</h1>
        <h3>Attendance Management System</h3>
    </div>
</body>
</html>
