<%#
    Team7 client ejs - login | Update: 2021/05/23
%>
<%- include( './_header.ejs' ); %>
<head>
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="main.js"></script>
    <title>Team7 | Login</title>
</head>
<body>
    <div id="login_fie">
        <p id="login_tit">ログイン - Team7</p>
        <div id="login_fie_user">
            <p class="login_fie_input">ユーザ名　</p>
            <input class="login_fie_input" type="text" placeholder="username">
        </div>
        <div id="login_fie_pass">
            <p class="login_fie_input">パスワード</p>
            <input class="login_fie_input" type="password" placeholder="password">
        </div>
        <input id="login_fie_button" type="button" value="ログイン">
    </div>
</body>
</html>
