/*
    Team7 client css | Update: 2021/05/25

    The main color is defined by a global css variable in the pseudo-class:root.
    The other colors can be defined by the members.
*/

@charset "utf-8";
:root {
    --main-color: #4368d7;
    --sub-color: rgb(167, 191, 205);
    --hover-color: rgb(208, 214, 231);
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
