/*
    Team7 client css | Update: 2021/05/25

    The main color is defined by a global css variable in the pseudo-class:root.
    The other colors can be defined by the members.
*/

@charset "utf-8";

#wrap {
    display: flex;
    flex-wrap: wrap;
}

/* left side dashboard */
#dashboard {
    margin: 0;
    /* width: 15%; */
    min-width: 160px;
    /* height: calc(100vh - 41px - 40px); */
    height: 100%;
    border: none;
    /* border-left: solid 1px var(--sub-color); */
    /* background: #ddd; */
    padding: 20px 0;
    padding-top: 40px;
}
#dashboard_title {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #111;
    font-size: 0.9em;
}
#dashboard_title i {
    padding-right: 3px;
    font-size: 0.9em;
    color: #666;
}
#dashboard_title span {
    padding-left: 3px;
    margin-left: 3px;
    font-size: 0.9em;
}
.dash_li {
    margin: 0;
    padding: 10px 0 10px 12px;
    font-size: 0.9em;
    /* margin-left: 10px; */
    text-align: left;
    text-decoration: none;
    /* color: #111; */
    color: #777;
}
#dashboard_menu a {
    text-decoration: none;
}
#dashboard_menu i {
    padding-right: 10px;
    font-size: 0.9em;
}
#dashboard_menu p:hover {
    /* background: #fff; */
    background: #e4e4e4;
    color: #111;
}
.dash_li_main {
    padding-left: 8px;
    border-left: 4px solid var(--main-color);
    background: #e4e4e4;
    /* background: #fff; */
    color: #111;
}
#dash_li_main i {
    padding-right: 10px;
    font-size: 0.8em;
    color: #111;
}

#main {
    margin-left: 5%;
    /* margin-left: calc(50% - 28.5%); */
    width: 70%;
    text-align: center;
}

#stage {
    width: 500px;
    height: 300px;
    margin-left: calc(50% - 250px);
}
#stage2 {
    width: 500px;
    height: 300px;
    margin-left: calc(50% - 250px);
}
.canvasjs-chart-credit {
    display: none;
}


/* 画面の幅が1000px以上 */
@media screen and (min-width:1400px) {
    #wrap {
        width: 1400px;
        margin-left: calc(50% - 700px);
    }
}
