/*
    Team7 client css | Update: 2021/05/25

    The main color is defined by a global css variable in the pseudo-class:root.
    The other colors can be defined by the members.
*/

@charset "utf-8";

#wrap {
    display: flex;
    flex-wrap: wrap;
}

#main {
    margin-left: 5%;
    /* margin-left: calc(50% - 28.5%); */
    width: 70%;
    text-align: center;
}
#lecture_table {
    margin-top: 60px;
    padding-bottom: 50px;
}
#lecture_table h3 {
    font-weight: 300;
}
#lecture_table_val {
    margin: 0 auto;
    border-collapse: collapse;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-size: 0.9em;
}
#lecture_table_val th {
    background-color: var(--main-color);
    color: #fff;
    font-weight: 500;
}
#lecture_table_val td {
    border: none;
    background: #fff;
}
#lecture_table_val tr:nth-child(odd) td {
    background: #eee;
}
#lecture_table_val td, th {
    padding: 5px 8px;
}
#lecture_table_val tr {
    border: solid 1px var(--sub-color);
}

#lecture_table i {
    padding-left: 10px;
    padding-right: 3px;
}
#lecture_table #td_dl {
    border-left: 1px solid #ddd;
}
#td_dl a {
    text-decoration: none;
    color: #888;
}
#td_dl a:hover {
    text-decoration: underline;
    color: #222;
}
#td_1 {
    /* background: rgb(231, 255, 195) !important; */
}
#td_0 {
    background: rgb(255, 222, 162) !important;
}
#td_many {
    background: orange !important;
}


/* 画面の幅が1000px以上 */
@media screen and (min-width:1400px) {
    #wrap {
        width: 1400px;
        margin-left: calc(50% - 700px);
    }
}
