/*
    Team7 client css | Update: 2021/05/25

    The main color is defined by a global css variable in the pseudo-class:root.
    The other colors can be defined by the members.
*/

@charset "utf-8";

#wrap {
    display: flex;
    flex-wrap: wrap;
}

#main {
    margin-top: 40px;
    margin-left: calc(5% + 160px);
    /* margin-left: calc(50% - 28.5%); */
    width: 70%;
    text-align: center;
}
#lecture_table {
    margin-top: 60px;
}
#lecture_table h3 {
    font-weight: 300;
}

#stage {
    margin-top: 20px;
    width: 500px;
    height: 300px;
    margin-left: calc(50% - 250px);
}
#stage2 {
    margin-top: 40px;
    width: 500px;
    height: 300px;
    margin-left: calc(50% - 250px);
}
.canvasjs-chart-credit {
    display: none;
}


/* 画面の幅が1000px以上 */
@media screen and (min-width:1400px) {
    #wrap {
        width: 1400px;
        margin-left: calc(50% - 700px);
    }
}
