/*
    Team7 client css | Update: 2021/05/25

    The main color is defined by a global css variable in the pseudo-class:root.
    The other colors can be defined by the members.
*/

@charset "utf-8";

#wrap {
    display: flex;
    flex-wrap: wrap;
}

#main {
    margin-top: 40px;
    margin-left: calc(5% + 160px);
    /* margin-left: calc(50% - 28.5%); */
    width: 70%;
    text-align: center;
}
#lecture_table {
    margin-top: 60px;
    padding-bottom: 50px;
}
#lecture_table h3 {
    font-weight: 300;
}
#lecture_table_val {
    margin: 0 auto;
    margin-top: 5px;
    border-collapse: collapse;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-size: 0.9em;
}
#lecture_table_val th {
    background-color: var(--main-color);
    color: #fff;
    font-weight: 500;
}
#lecture_table_val td {
    border: none;
    background: #fff;
}
#lecture_table_val tr:nth-child(odd) td {
    background: #eee;
}
#lecture_table_val td, th {
    padding: 5px 8px;
}
#lecture_table_val tr {
    border: solid 1px var(--sub-color);
}

#lecture_table i {
    padding-left: 10px;
    padding-right: 3px;
}
#lecture_table #td_dl {
    border-left: 1px solid #ddd;
}
#td_dl a {
    text-decoration: none;
    color: #888;
}
#td_dl a:hover {
    text-decoration: underline;
    color: #222;
}
#td_1 {
    /* background: rgb(231, 255, 195) !important; */
}
#td_2 {
    background: var(--late-color) !important;
}
#td_0 {
    background: var(--rest-color) !important;
}
#td_many {
    background: var(--many_rset-color) !important;
}
/* #prev_link {
    color: var(--prev_link-color);
    text-decoration: none;
}
#prev_link:hover {
    color: #000;
    text-decoration: underline;
} */
#edit_fie {
    max-width: 720px;
    margin-left: calc(50% - 360px);
    margin-top: 40px;
    padding: 10px 0;
    border: 1px solid #888;
    border-radius: 4px;
}
#edit_fie p {
    margin: 0;
}
#absence, #lateness {
    text-align: center;
    padding: 3px 0 3px 10px;
    width: 60px;
    margin-top: 5px;
    font-size: 1.2em;
}
#apply {
    margin-top: 20px;
    padding: 5px 30px;
}
#att_info {
    margin-top: 30px;
    margin-bottom: 0;
}

/* 画面の幅が1000px以上 */
@media screen and (min-width:1400px) {
    #wrap {
        width: 1400px;
        margin-left: calc(50% - 700px);
    }
}
