/*
    Team7 client css | Update: 2021/05/23

    The main color is defined by a global css variable in the pseudo-class:root.
    The other colors can be defined by the members.
*/

@charset "utf-8";
#login_fie {
    position: relative;
    width: 300px;
    margin: 0;
    margin-left: calc(50% - 150px - 16px);
    margin-top: 150px;
    border-radius: 5px;
    border: 1px solid #bbb;
    padding: 15px;
    box-shadow: 0 0 3px #aaa;
    
}

#login_tit {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--main-color);
    font-size: 1.1em;
}

#login_fie_user, #login_fie_pass {
    display: block;
    text-align: center;
    margin-top: 10px;
}

#login_fie .login_fie_input {
    margin: auto auto;
    padding: 10px;
    margin-top: 10px;
    display: inline;
}

#login_fie_button {
    color: #fff;
    /* width: 65px; */
    /* margin-left: calc(100% - 100px); */
    width: 85px;
    margin-left: calc(100% - 85px);
    background: var(--main-color);
    border: none;
    display: block;
    margin-top: 20px;
    padding: 7px 15px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

#login_fie_botton:hover {
    box-shadow: 0 0 5px #888;
}

#login_notice {
    display: none;
    margin-bottom: 0;
    text-align: center;
    color: red;
    font-size: 0.8em;
}
