/*
    Team7 client css | Update: 2021/06/07

    The main color is defined by a global css variable in the pseudo-class:root.
    The other colors can be defined by the members.
*/

@charset "utf-8";

#index_top {
    margin-top: 100px;
    text-align: center;
    font-size: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#index_top img {
    margin-bottom: 0;
    border-bottom: 1px solid var(--main-color);
    width: 250px;
    filter: invert(100%);
}
#index_top p {
    font-weight: 300;
}

#bottom {
    padding: 0;
    margin: 0;
    margin-top: 70px;
    border-top: 10px solid var(--sub-color);
    /* height: 1000px; */
    text-align: center;
    padding-top: 70px;
}

#dl_list {
    margin-top: 30px;
}
.dl {
    color: #111;
    text-decoration: none;
    padding: 10px;
    margin: 0;
    border: 1px solid var(--sub-color);
    border-radius: 4px;
}
.dl:hover {
    background: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
}
#dl_other {
    display: block;
    text-decoration: none;
    margin-top: 40px;
    width: 150px;
    margin-left: calc(50% - 75px);
    color: #999;
}
#dl_other:hover {
    text-decoration: underline;
}

#footer {
    padding: 0;
    margin: 0;
    margin-top: 150px;
    background: var(--main-color);
    /* height: 1000px; */
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
    color: #fff;
}
#footer a {
    text-decoration: none;
    color: #fff;
}
#footer a:hover {
    color: var(--hover-color);
}
#cp {
    font-size: 0.7em;
    margin-top: 80px;
    color: var(--sub-color);
}
@media screen and (max-width: 600px) {
    .dl {
        width: 80%;
        display: block;
        margin-left: calc(10% - 10px);
        margin-top: 10px;
    }
    #footer {
        padding-top: 40px;
    }
    #cp {
        margin-top: 50px;
    }
}